.jumbotron {
    border-radius: 40px;
    text-align: center;
}

#services {
    margin-top: 32px;
}

.container {
    width: 50%;
    height: 30%;
}

.carousel-caption {
    color: aliceblue;
}

.lead {
    padding-top: 10px;
    padding-bottom: 10px;
}

#card_size {
    width: 80%;
}

ul {
    list-style: none;
    padding: 0;
}

.fa-check-square {
    color: green;
}

.checkboxes-center {
    text-align: left;
    padding-left: 25%;
}

.carousel-indicators li {
    border-color: #f4511e;
  }
  
.carousel-indicators li.active {
    background-color: #f4511e;
}
  
.carousel-item h3 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
  
.carousel-item span {
    font-style: normal;
}

@media screen and (max-width:600px){
    
}
